.typewriter {
  font-family: "Hermit", monospace;
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  min-height: 50px;
}

.caret {
  display: inline-block;
  width: 1px;
  background-color: rgb(255, 255, 255);
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
